/*!* Home page styles *!*/
/*@font-face {*/
/*    font-family: 'cakefont';*/
/*    src: url('../font/cakedingbats-webfont.eot');*/
/*    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),*/
/*    url('../font/cakedingbats-webfont.woff2') format('woff2'),*/
/*    url('../font/cakedingbats-webfont.woff') format('woff'),*/
/*    url('../font/cakedingbats-webfont.ttf') format('truetype'),*/
/*    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
/*body {*/
/*    padding: 60px 0;*/
/*}*/
/*header {*/
/*    margin-bottom: 60px;*/
/*}*/
/*img {*/
/*    margin-bottom: 30px;*/
/*}*/
/*h1 {*/
/*    font-weight: bold;*/
/*}*/
/*ul {*/
/*    list-style-type: none;*/
/*    margin: 0 0 30px 0;*/
/*    padding-left: 25px;*/
/*}*/
/*a {*/
/*    color: #0071BC;*/
/*    text-decoration: underline;*/
/*}*/
/*hr {*/
/*    border-bottom: 1px solid #e7e7e7;*/
/*    border-top: 0;*/
/*    margin-bottom: 35px;*/
/*}*/

/*.text-center {*/
/*    text-align: center;*/
/*}*/
/*.links a {*/
/*    margin-right: 10px;*/
/*}*/
/*.release-name {*/
/*    color: #D33C43;*/
/*    font-weight: 400;*/
/*    font-style: italic;*/
/*}*/
/*.bullet:before {*/
/*    font-family: 'cakefont', sans-serif;*/
/*    font-size: 18px;*/
/*    display: inline-block;*/
/*    margin-left: -1.3em;*/
/*    width: 1.2em;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    vertical-align: -1px;*/
/*}*/
/*.success:before {*/
/*    color: #88c671;*/
/*    content: "\0056";*/
/*}*/
/*.problem:before {*/
/*    color: #d33d44;*/
/*    content: "\0057";*/
/*}*/
/*.cake-error {*/
/*    padding: 10px;*/
/*    margin: 10px 0;*/
/*}*/
/*#url-rewriting-warning {*/
/*    display: none;*/
/*}*/


/booking/

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index:99999;
    max-width: 300rem;

    font-family: "Glacial Indifference", "Glacial Indifference", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Add styles to the form container */
.form-container {
    position: relative;
    max-width: 500rem;

    background-color: white;
    border-radius: 12px;



}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: #04AA6D;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
/*fontcolour*/
.fieldfont{
    color:#2D593D;

}
